.ui-panel .ui-icon{
	width:32px;
	height:32px;
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius:0px;
	border-radius:0px;	
}
.ui-panel .ui-listview .ui-btn-text {padding-left: 35px;}
.ui-icon-logout {
	    background-image: url(images/logout.png);
		background-size: 18px 18px;
		background-color: transparent;
		box-shadow: none;
		border-style: hidden;
		-moz-border-radius: 0px;
		-webkit-border-radius:0px;
		-webkit-box-shadow: none; 
		border-radius: 0;
	}
	
.ui-icon-Banking {
	    background-image: url(images/panel/Banking.png);
		background-size: 32px 32px;
		box-shadow: none;
		background-color: transparent;
		background-position: 0px -4px;
	background-repeat: no-repeat;
		}

.ui-icon-Applicationcenter {
    background-image: url(images/panel/Applicationcenter.png);
	background-size: 32px 32px;
	box-shadow: none;
	background-color: transparent;
	background-position: 0px -4px;
	background-repeat: no-repeat;
}

.ui-icon-AboutUNB {
    background-image: url(images/panel/AboutUNB.png);
	background-size: 32px 32px;
	box-shadow: none;
	background-color: transparent;
	background-position: 0px -4px;
	background-repeat: no-repeat;
}

.ui-icon-BillPay {
    background-image: url(images/panel/BillPay.png);
	background-size: 32px 32px;
	box-shadow: none;
	background-color: transparent;
	background-position: 0px -4px;
	background-repeat: no-repeat;
}

.ui-icon-locator {
    background-image: url(images/panel/locator.png);
	background-size: 32px 32px;
	box-shadow: none;
	background-color: transparent;
	background-position: 0px -4px;
	background-repeat: no-repeat;
}

.ui-icon-Loyalty {
    background-image: url(images/panel/Loyalty.png);
	background-size: 32px 32px;
	box-shadow: none;
	background-color: transparent;
	background-position: 0px -4px;
	background-repeat: no-repeat;
}

.ui-icon-MessageCenter {
    background-image: url(images/panel/MessageCenter.png);
	background-size: 32px 32px;
	box-shadow: none;
	background-color: transparent;
	background-position: 0px -4px;
	background-repeat: no-repeat;
}

.ui-icon-News {
    background-image: url(images/panel/News.png);
	background-size: 32px 32px;
	box-shadow: none;
	background-color: transparent;
	background-position: 0px -4px;
	background-repeat: no-repeat;
}

.ui-icon-ProductEnquiries {
    background-image: url(images/panel/ProductEnquiries.png);
	background-size: 32px 32px;
	box-shadow: none;
	background-color: transparent;
	background-position: 0px -4px;
	background-repeat: no-repeat;
}

.ui-icon-Rates {
    background-image: url(images/panel/Rates.png);
	background-size: 32px 32px;
	box-shadow: none;
	background-color: transparent;
	background-position: 0px -4px;
	background-repeat: no-repeat;
}

.ui-icon-ServiceBooking {
    background-image: url(images/panel/ServiceBooking.png);
	background-size: 32px 32px;
	box-shadow: none;
	background-color: transparent;
	background-position: 0px -4px;
	background-repeat: no-repeat;
}

.ui-icon-Settings {
    background-image: url(images/panel/Settings.png);
	background-size: 32px 32px;
	box-shadow: none;
	background-color: transparent;
	background-position: 0px -4px;
	background-repeat: no-repeat;
}

.ui-icon-CreditCard {
    background-image: url(images/panel/CreditCard.png);
	background-size: 32px 32px;
	box-shadow: none;
	background-color: transparent;
	background-position: 0px -4px;
	background-repeat: no-repeat;
}

.ui-icon-Check {
    background-image: url(images/panel/Check.png);
	background-size: 32px 32px;
	box-shadow: none;
	background-color: transparent;
	background-position: 0px -4px;
	background-repeat: no-repeat;
}

.ui-icon-ApplyIcon {
    background-image: url(images/panel/ApplyIcon.png);
	background-size: 32px 32px;
	box-shadow: none;
	background-color: transparent;
	background-position: 0px -4px;
	background-repeat: no-repeat;
}

.ui-icon-Help {
    background-image: url(images/panel/Help@2x.png);
	background-size: 32px 32px;
	box-shadow: none;
	background-color: transparent;
	background-position: 0px -4px;
	background-repeat: no-repeat;
}

.ui-navbar .ui-icon{
	width: 32px!important;
height: 32px!important;
margin-left: -15px !important;
margin-top: -5px !important;
box-shadow: none!important;
-moz-box-shadow: none!important;
-webkit-box-shadow: none!important;
-webkit-border-radius: none !important;
border-radius: none !important;	
}


.ui-icon-Transfer {
    background-image: url(images/navbar/TransferTabicon.png);
	background-size: 32px 32px;
	box-shadow: none;
	background-color: transparent;
	
	background-repeat: no-repeat;
}
.ui-btn-active .ui-icon-Transfer {
    background-image: url(images/navbar/TransferTabicon-Hover.png);
	background-size: 32px 32px;
	box-shadow: none;
	background-color: transparent;
	background-position: 0px;
	background-repeat: no-repeat;
}

.ui-icon-Accounts {
    background-image: url(images/navbar/AccountsTabicon.png);
	background-size: 32px 32px;
	box-shadow: none;
	background-color: transparent;
	
	background-repeat: no-repeat;
}
.ui-btn-active .ui-icon-Accounts {
    background-image: url(images/navbar/AccountsTabicon-Hover.png);
	background-size: 32px 32px;
	box-shadow: none;
	background-color: transparent;
	background-position: 0px;
	background-repeat: no-repeat;
}
.ui-icon-AccountsHist {
    background-image: url(images/navbar/HistoryTabicon.png);
	background-size: 32px 32px;
	box-shadow: none;
	background-color: transparent;
	
	background-repeat: no-repeat;
}
.ui-btn-active .ui-icon-AccountsHist {
    background-image: url(images/navbar/HistoryTabicon-Hover.png);
	background-size: 32px 32px;
	box-shadow: none;
	background-color: transparent;
	background-position: 0px;
	background-repeat: no-repeat;
}
.ui-header .nostyle {-moz-box-shadow:0; -webkit-box-shadow:0; box-shadow:0; background:none; border:none; margin:0px; padding:0px; margin-top:-2px; 
-moz-box-shadow: 0 0px 0px /*{global-box-shadow-size}*/ 			rgba(0,0,0,0) /*{global-box-shadow-color}*/;
-webkit-box-shadow: 0 0px 0px /*{global-box-shadow-size}*/ 		rgba(0,0,0,0) /*{global-box-shadow-color}*/;
box-shadow: 0 0px 0px /*{global-box-shadow-size}*/ 				rgba(0,0,0,0) /*{global-box-shadow-color}*/
width:auto; height:auto;}
.ui-header .topbar .ui-btn-inner { border:none; width:auto; height:auto;}

.label-text {
color:black;
font-weight:bold;
}

.label-normal{
color:black;
font-weight:normal;
}